{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load cache %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="row text-start">
        <div class="col-md-4 mx-auto ">
            <table class="profile-table">
                <tr>
                    <td>
                        Имя пользователя:
                    </td>
                    <td>
                        <b>{{ request.user.username }}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя:
                    </td>
                    <td>
                        <b>{{ request.user.first_name }}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Фамилия:
                    </td>
                    <td>
                        <b>{{ request.user.last_name }}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        E-mail:
                    </td>
                    <td>
                        <b>{{ request.user.email }}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-center mx-auto">
            <table class="profile-table">
                <tr>
                    <td>
                        <a href="{% url 'profile_edit' %}">
                        Изменить данные профиля
                        </a>
                    </td>
                    <td>
                    <td>
                        <a href="{% url 'password_change' %}">
                        Изменить пароль
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}