{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center ">
      <h1>{% trans "Войти" %}</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>Пожалуйста, войдите через один
        из существующих аккаунтов. <a href="{% url 'account_signup' %}">Зарегистрируйтесь</a>
        на <b>Новостном портале</b> или войдите через сервис, предложенный ниже:</p>

      <div class="socialaccount_ballot">

        <!-- <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul> -->

        <a href="{% provider_login_url 'google' %}">Google</a>

        <div class="login-or">{% trans 'или' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="fieldWrapper">
          {{ form.login.errors }}
          <label for="{{ form.login.id_for_label }}">Электронная почта</label>
          {{ form.login }}
        </div>
        <div class="fieldWrapper">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">Пароль</label>
          {{ form.password }}
        </div>
        <br>
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Войти" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}