{% extends 'flatpages/default.html' %}

{% block title %}
Новостной портал
{% endblock title %}

{% block content %}
<div class="container-fluid cont">
  <div class="row">
    <div class="col-md-7">
      <div id="carouselExampleCaptions" data-bs-interval="5000" class="carousel slide my-carousel carousel-fade"
        data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="all/{{ newest.id }}"><img src="../static/img/{{ newest.id }}.jpg" class="d-block w-100"
                alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ newest.title }}</h5>
              <p>{{ newest.text }}</p>
            </div>
          </div>
          {% for obj in last_news %}
          <div class="carousel-item">
            <a href="all/{{ obj.id }}"><img src="../static/img/{{ obj.id }}.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ obj.title}}</h5>
              <p>{{ obj.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
    <div class="col-md-4 my-auto text-center">
      {% for obj in right_posts %}
      <div class="row right-news-main">
        <div class="col-md-12">
          <a href="all/{{ obj.id }}">
            <h5>{{ obj.title }}</h5>
          </a>
          <p>{{ obj.text }}</p>
          <p class="text-end date-end-text">{{ obj.time_in | date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<section>
  <div class="container-fluid">
    <div class="row g-2">
      {% for obj in other_posts %}
      <div class="col-md-4 text-center news-list-main-page">
        <div class="border-bottom-div">
          <b>{{ obj.title }}</b>
          <a href="all/{{ obj.id }}"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<br>
<p class="text-end all-news-action"><a href="{% url 'all_news' %}">Все новости...</a></p>
{% endblock content %}