{% extends 'flatpages/default.html' %}

{% block title %}
{{ obj.title }}
{% endblock title %}

{% block content %}
<div class="container-fluid text-end">
    Категория: <b>{{ category }}</b>
    <form action="" method="post" style="display: inline-block">
        {% csrf_token %}
        {% if not is_category_subscribe %}
        <button type="submit" name="sub" class="sub-but">
            <i class="fa-regular fa-heart fa-lg" style="color: #000000;"></i>
        </button>
        {% else %}
        <button type="submit" name="unsub" class="sub-but">
            <i class="fa-solid fa-heart fa-lg" style="color: #000000;"></i>
        </button>
        {% endif %}
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <p class="news-detail">{{ obj.time_in | date }}, <b>{{ obj.title }}.</b></p>
    </div>
    <div class="row">
        <p class="news-detail">{{ obj.text }}</p>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <a href="{% url 'news_list' %}">
                    Назад
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}