<!DOCTYPE html>

{% load static %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Seroji">
    <meta name="description" content="Тестовая страницы">
    <meta name="keywords" content="тест, проверка, html">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>HTML + CSS</title>
</head>

<body>
    <div id="header">Шапка</div>
    <ul id="nav" class="nav">
        <li>Главная</li>
        <li>Про нас</li>
        <li>Контакты</li>
    </ul>
    <div id="main">Основная часть</div>
    <div id="aside">Боковая часть</div>
    <div id="footer">Футер</div>
</body>
</html>
