<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Seroji">
    <meta name="description" content="Тестовая страницы">
    <meta name="keywords" content="тест, проверка, html">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    {% load static %}
    <title>{% block titile%}{% endblock title %}</title>
</head>

<body>
    <ul id="nav">
        <li>Новостная лента</li>
        <li>Контакты</li>
        <li>О нас</li>
    </ul>
    {% block content %}
    {% endblock content %}
</body>
</html>